{:paths [".."]
 :deps
 {io.github.chucklehead-dev/oscope {:local/root "../.."}
  io.github.chucklehead-dev/jolt-chdb {:local/root "../../../jolt-chdb"}
  io.github.chucklehead-dev/jolt-otel-clickhouse
  {:local/root "../../../jolt-otel-clickhouse"}
  io.github.chucklehead-dev/jolt-aspect-packs
  {:local/root "../../../jolt-aspect-packs"}}
 :jolt/build
 {:embed ["../../../jolt-chdb/resources"]
  :allow-control-aspects true
  :aspects
  [{:resource "META-INF/jolt/aspects/packs/chdb-durable-4a0b821.edn"
    :providers [jolt.aspect-packs.chdb-durable.faults/aspect-provider]}]
  :aspect-report "target/aspects.edn"}}
