{:paths ["../../src"]

 :jolt/min-version "0.8.6"

 ;; Same-repository library profile for applications which own their ingress.
 ;; Server/viewer dependencies intentionally remain in the root coordinate.
 :deps {io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "8110c12f058e1d6902fe6dad0f370d9a8b3a2ec2"}
        io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "3e3141fd29b335aa7bf2b6039fed7b3bbb4ebe04"}
        ;; A direct pin prevents the old transitive DB time provider winning.
        jolt-lang/db
        {:git/url "https://github.com/casselc/db.git"
         :git/sha "cb06349c7ffe55e423021e402d4f182f4a27bcf7"}
        io.github.chucklehead-dev/jolt-otel-clickhouse
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
         :git/sha "dfbc9ea64962b25c2f38912daa1c5a7b7339deaf"}
        metosin/malli {:mvn/version "0.20.1"}
        org.clojure/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "97298fd8a67a6d4ee3eb1346d5e184beb9565b90"}}

 :aliases
 {:experimental-byte-collector
  {:extra-deps
   {io.github.casselc/otel
    {:git/url "https://github.com/casselc/otel.git"
     :git/sha "19fc49d20b3a75906f0ccbb8b50c7e48b03e4813"
     :exclusions [jolt-lang/jolt-crypto]}
    jolt-lang/jolt-crypto
    {:git/url "https://github.com/jolt-lang/jolt-crypto.git"
     :git/sha "5effcc89a3258499a79a2a3d69edad9e7800d1bf"}
    io.github.chucklehead-dev/jolt-chdb
    {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
     :git/sha "c86f6f170c16847070e53e67e7093d18660adf7c"}
    io.github.chucklehead-dev/jolt-otel-clickhouse
    {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
     :git/sha "c81f790cf4bffd4ac416be719c17270f8207cd36"}
    org.clojure/data.json
    {:git/url "https://github.com/casselc/data.json.git"
     :git/sha "a486d52c06f979dcbc30bfb08565aafa7226162a"}}}
  :experimental-durable-stream
  {:extra-deps
   {io.github.casselc/otel
    {:git/url "https://github.com/casselc/otel.git"
     :git/sha "19fc49d20b3a75906f0ccbb8b50c7e48b03e4813"
     :exclusions [jolt-lang/jolt-crypto]}
    jolt-lang/jolt-crypto
    {:git/url "https://github.com/jolt-lang/jolt-crypto.git"
     :git/sha "5effcc89a3258499a79a2a3d69edad9e7800d1bf"}
    io.github.chucklehead-dev/jolt-chdb
    {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
     :git/sha "368e767663421b11d24b7ca15cedaa4d47f0796e"}
    io.github.chucklehead-dev/jolt-otel-clickhouse
    {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
     :git/sha "07c0a64b60a5630f2d4d77e0c51fb259dceaf652"}
    org.clojure/data.json
    {:git/url "https://github.com/casselc/data.json.git"
     :git/sha "7fd90244356efa457a9c26e84f65076a43b0e4d5"}}}
 }}
