{:paths ["../../src"]

 :jolt/min-version "0.8.6"

 ;; Same-repository library profile for applications which own their ingress.
 ;; Server/viewer dependencies intentionally remain in the root coordinate.
 :deps {io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "8110c12f058e1d6902fe6dad0f370d9a8b3a2ec2"}
        io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "3e3141fd29b335aa7bf2b6039fed7b3bbb4ebe04"}
        ;; A direct pin prevents the old transitive DB time provider winning.
        jolt-lang/db
        {:git/url "https://github.com/casselc/db.git"
         :git/sha "cb06349c7ffe55e423021e402d4f182f4a27bcf7"}
        io.github.chucklehead-dev/jolt-otel-clickhouse
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
         :git/sha "dfbc9ea64962b25c2f38912daa1c5a7b7339deaf"}
        metosin/malli {:mvn/version "0.20.1"}
        org.clojure/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "97298fd8a67a6d4ee3eb1346d5e184beb9565b90"}}

 :aliases
 {:experimental-byte-collector
  {:extra-deps
   {io.github.casselc/otel
    {:git/url "https://github.com/casselc/otel.git"
     :git/sha "19fc49d20b3a75906f0ccbb8b50c7e48b03e4813"
     :exclusions [jolt-lang/jolt-crypto]}
    jolt-lang/jolt-crypto
    {:git/url "https://github.com/jolt-lang/jolt-crypto.git"
     :git/sha "5effcc89a3258499a79a2a3d69edad9e7800d1bf"}
    io.github.chucklehead-dev/jolt-chdb
    {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
     :git/sha "cd5a3fb520a6f4144e07db4bae0c1909b261c3b1"}
    io.github.chucklehead-dev/jolt-otel-clickhouse
    {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
     :git/sha "f93d4ac9e7a0141eed82653c11c5955461bf1ac7"}
    org.clojure/data.json
    {:git/url "https://github.com/casselc/data.json.git"
     :git/sha "2fa6ddded8050bb2fc16c28056777e433a4542e4"}}}
 }}
